<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  </style>
</head>
<body>



</body>
</html>

<%= form_for @resource do |f| %>
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :username  %>
    <br>
    <%= f.label :website_domain %>
    <%= f.text_field :website_domain %>
    <br>
    <%= f.label :notes %>
    <%= f.text_area :notes%>
    <br>
    <%= f.submit%>
    <% end %>
