<h1> <%= @micro_goal.goal.name%>'s Micro Goals </h1>

<hr>
<img src= "https://www.incimages.com/uploaded_files/image/1920x1080/getty_158325069_9707599704500267_51544.jpg" width="550" height="300" >
<h4> 


<h4> Dealine: <%= @micro_goal.deadline %>  </h4>
<h4> Micro Goal: 
<br>
<br>
<%= @micro_goal.content %>  </h4>



<%= link_to "List of Names", micro_goals_path %>

<%= form_for @micro_goal, method: :delete do  | f | %>
    <%= f.submit "Delete" %>
    <% end %>





