<h1>A Journal</h1>

<br/>

<h2>  <%= @journal.name %>  </h2>
<h2>  <%= @journal.date %>  </h2>
<h2>  <%= @journal.title %>  </h2>
<h2>  <%= @journal.content %>  </h2>
<h2>  <%= @journal.user_id %>  </h2>

<br/>
<%= link_to "Edit Journal", edit_journal_path%>
<%= link_to "All Journals", journals_path%>
<br/>
<%= form_for journal_path(@journal.id), method: "delete" do |f| %>
    <%= f.submit "Delete #{@journal.name}" %>
<% end %>
<br/>